<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css  ">
  <title>Document</title>
</head>

<body>
  <h1 style="text-align: center;"></h1>

  <div id="container">
    <div id="chat">
      <div>
        <label for="name">Dime tu nombre:</label>
        <input type="text" id="txtName" name="name">
        <button type="button" id="loginBtn">Entrar al chat</button>
        <button type="button" id="logoutBtn">Cerrar</button>
      </div>
      <div>
        <div id="txtZone">
        </div>

        <input type="text" id="txtMsj">
        <button id="sendBtn">Enviar mensaje</button>
      </div>
    </div>
    <p id="contador">contador: 0</p>
  </div>
  <footer>
    <p>V1.0 autor: Esteban Cortina</p>
  </footer>
</body>
<script src="/js/index.js"></script>

</html>