@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

#txtZone {
  border: solid;
  height: 300px;
  overflow-y: scroll;
  width: 500px;
  padding: 10px;
  background-color: rgb(53, 183, 139);
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Ajusta la altura del contenedor según tus necesidades */
}

#chat {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#txtMsj {
  width: 75%;
}

.msj {
  text-align: right;
  margin: 10px;
}

.responseMsj {
  text-align: left;
  margin: 10px;
}

.in {
  background-color: green;
}

.out {
  background-color: red;
}

.privateUserId:hover {
  cursor: pointer;
}

#privateChat {
  display: none;
}